.undecorated{
  text-decoration: none;
  color: black;
}

.undecorated:hover{
  text-decoration: none;
  color: black;
}

.carousel-caption{
    border-radius:60px;
    background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.to-highlight{
   background-color: black;
}
   
.calendar_div{
    overflow:hidden;
} 
