{% extends "base.html" %}
{% load i18n %}
{% load tags %}
{% get_current_language as LANGUAGE_CODE %}
{% block additional_scripts %}
<link href="{{ STATIC_URL }}css/accepted_proposals.css" rel="stylesheet">
{% endblock %}
{% block body %}
<div class="container body">
    <div class="row">
		<div class="well">
            <h1 class="text-center">{% trans "Accepted proposal list" %} {% if by_area %}(<em>{{ by_area.area }}</em>){% endif %}</h1>
            <div class="list-group">
                {% for project in accepted_proposal_list %}
                  <a href="/accepted_proposal/{{ project.id }}" class="list-group-item">
                        <div class="media col-md-3">
                            <figure class="pull-left">
                                <img class="media-object img-rounded img-responsive"  src="{{ STATIC_URL }}{{ project.get_images.0 }}" alt="placehold.it/350x250" >
                            </figure>
                        </div>
                        <div class="col-md-6">
                            <h4 class="list-group-item-heading">{{ project|get_title:LANGUAGE_CODE|safe }}</h4>
                            <p class="list-group-item-text">{{ project|get_summary:LANGUAGE_CODE|cut_text|safe }} {% for area in project.get_area_names %}
                             <span class="label label-info">{{ area }}</span>
                            {% endfor %}</p>
                        </div>
                        
                        <div class="col-md-3 text-center">
                            <h2> <span>{{ project.get_votes }}</span> <small> {% trans "votes" %} </small></h2>
                                {% if user.is_authenticated %}
                                    <button id="id_vote_show_{{ project.id }}" onclick="vote_via_ajax('{{ project.id }}'); return false" id="id_vote_button_{{ project.id }}" class="btn btn-primary btn-lg btn-block {% if project|already_voted:user %}voted{% endif %}" {% if project|already_voted:user %}disabled {% endif %}>{% if project|already_voted:user %}{% trans "Already voted" %}{% else %}{% trans "Vote" %}{% endif %}</button>
                                {% else %}
                                    <!--<button class="btn btn-primary btn-lg btn-block" id="id_vote_show_{{ project.id }}" onclick="window.locatiojn='/?next=/'">{% trans "Vote" %}</button>-->
                                {% endif %}

                            
                       </div>
                    </a>
                {% endfor %}          
            </div>
        </div>
	</div>
	
	<nav class="pagination col-md-12 text-center">
        <ul class="pagination">
            {% if accepted_proposal_list.has_previous %}
                <li><a href="?page=1"><<</a></li>
            {% endif %}
            
            {% if accepted_proposal_list.has_previous %}
                <li><a href="?page={{ accepted_proposal_list.previous_page_number }}{% if by_area %}&area={{ by_area.id }}{% endif %}"><</a></li>
            {% endif %}

            {% for num in accepted_proposal_list.paginator.page_range %}
              {% ifequal num accepted_proposal_list.number %}
                <li><span class="current"><b>{{ num }}</b></span></li>
              {% else %}
                <li><a href="?page={{ num }}{% if by_area %}&area={{ by_area.id }}{% endif %}"> {{ num }}</a></li>
              {% endifequal %} 
            {% endfor %}

            {% if accepted_proposal_list.has_next %}
                <li><a href="?page={{ accepted_proposal_list.next_page_number }}{% if by_area %}&area={{ by_area.id }}{% endif %}">></a></li>
            {% endif %}
            
            {% if accepted_proposal_list.has_next %}
                <li><a href="?page={{ accepted_proposal_list.paginator.num_pages }}{% if by_area %}&area={{ by_area.id }}{% endif %}">>></a></li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
