{% extends "base.html" %}
{% load i18n %}
{% load tags %}
{% get_current_language as LANGUAGE_CODE %}
{% block additional_scripts %}
<link href="{{ STATIC_URL }}css/jquery.dataTables.min.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/manage_my_proposals.css" rel="stylesheet">
{% endblock %}
{% block onload_scripts %}
manage_my_proposal_scripts();
{% endblock %}
{% block body %}



<div class="container body">
    <h1>{% trans "Manage my proposals" %}</h1>
	
	<table id="proposals_table" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>{% trans "id" %}</th>
                <th>{% trans "Title" %}</th>
                <th>{% trans "Summary" %}</th>                
                <th>{% trans "Cost" %}</th>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Criterions" %}</th>
                <th>{% trans "Accepted" %}</th>
                <th></th>
            </tr>
        </thead>
 
        
 
        <tbody>
            {% for proposal in proposal_list %}
                <tr id="{{ proposal.id }}">
                    <td>{{ proposal.id }}</td>
                    <td>{{ proposal|get_title:LANGUAGE_CODE|safe }}</td>
                    <td>{{ proposal|get_summary:LANGUAGE_CODE|safe }}</td>
                    <td>{{ proposal.cost }} €</td>
                    <td>{{ proposal.date|date:"SHORT_DATE_FORMAT" }}</td>
                    <td>{{ proposal.get_criterion_stats }}</td>
                    <td>
                        {% if proposal.is_accepted %}
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"> {% trans "Accepted" %}</span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"> {% trans "Not accepted" %}</span>    
                        {% endif %}
                    </td>
                   
                    <td><a href="/proposal/{{ proposal.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                </tr>    
            {% endfor %}        
        </tbody>
    </table>
	
	
	
</div>
{% endblock %}
{% block additional_scripts2 %}
<script src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>
{% endblock %}
