{% extends "base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load tags %}
{% load leaflet_tags %}
{% block additional_scripts %}
<link href="{{ STATIC_URL }}css/new_proposal.css" rel="stylesheet">

{% endblock %}
{% block onload_scripts %}
load_add_accepted_proposal_scripts();
{% endblock %}
{% block body %}
<div class="container body">
    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data" id="add_proposal_form">{% csrf_token %}
        <legend class="text-center">{% trans "New Accepted Proposal" %}</legend>
        <div class="row">

            <!-- Blog Post Content Column -->
            <!--<div class="col-lg-8">-->
            <div class="col-lg-7">

                <!-- Blog Post -->

                <!-- Title -->
                <h1><span id="id_title">{% with title_dict|get_lang_form:LANGUAGE_CODE as title_form %}{{ title_form.title.value|new_or_none:"Title"|safe }}{% endwith %} *</span>
                        <a href="#" data-toggle="modal" data-target="#title_modal" aria-hidden="true"><span class="glyphicon glyphicon-pencil edit_icon" aria-hidden="true"></span></a>
                </h1>  
                
                <div id="related_objects_title" class="alert alert-warning" role="alert" style="display: none;">
                    <button type="button" class="close" onclick="$('#related_objects_title').hide(1000)"><span aria-hidden="true">&times;</span></button>               
              </div>  
              <div id="language_error_title" class="alert alert-warning text-center" role="alert" style="display: none;">
                    <button type="button" class="close" onclick="$('#language_error_title').hide(1000)"><span aria-hidden="true">&times;</span></button><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {% trans "It seems that the inserted text is not in the correct language" %}
                </div>         
                            
                    <div class="modal fade" id="title_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">{% trans "Edit title" %}</h4>
                          </div>
                          <div class="modal-body">
                            <div class="form-group">
                              <div class="alert alert-warning text-center" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> <span>{% trans "The chosen language by default in the edit fields is " %}<strong><em>{{ LANGUAGE_CODE |upper }}</em></strong></span></div>  
                              
                              <div class="col-md-12">                
                                <div>
                                    <div class="panel with-nav-tabs panel-primary">
                                        <div class="panel-heading">
                                                <ul class="nav nav-tabs">
                                                    {% for lang in LANGUAGES|sort_by_default_language:LANGUAGE_CODE %}
                                                        {% if forloop.counter == 1 %}
                                                            <li class="active">
                                                        {% else %}
                                                            <li>
                                                        {% endif %}
                                                        <a href="#tab{{ forloop.counter }}title" data-toggle="tab">{{ lang.0|upper }}</a></li>
                                                        
                                                    {% endfor %}
                                                    <button onclick="automatic_translation('#title_div');return false;" type="submit" name ="translation_button" class="btn btn-primary btn-lg right-floated">{% trans "Translate text" %}</button>
                                                </ul>
                                        </div>
                                        <div class="panel-body">
                                            <div class="tab-content" id="title_div">
                                                {% for lang in LANGUAGES|sort_by_default_language:LANGUAGE_CODE %}
                                                    {% with title_dict|get_lang_form:lang.0 as title_form %}
                                                        <div class="tab-pane fade in {% if forloop.counter == 1 %}active{% endif %}" id="tab{{ forloop.counter }}title">{{ title_form.title }}{{ title_form.title.errors }}</div>
                                                    {% endwith %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                            <button type="button" id="close_title" onclick="close_proposal_title('{{ LANGUAGE_CODE }}');" class="btn btn-primary">{% trans "Save changes" %}</button>
                          </div>
                        </div>
                      </div>
                    </div>
                

                <!-- Author 
                <p class="lead">
                    by <a href="#">Start Bootstrap</a>
                </p>-->

                <hr>

                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span> {% trans "Creation data" %}: {{ proposal.date }}</p>

                <hr>

                <!-- Preview Image -->
                <a href="#" data-toggle="modal" data-target="#attached_documents_modal" aria-hidden="true"><img id="imgPreview" class="img-responsive" src="{{ STATIC_URL }}/img/no_photo.jpg" alt=""></a>

                <hr>

                <!-- Post Content -->
                <p class="lead">{% trans "Summary" %} *</p>
                <p><span id="id_summary">{% with summary_dict|get_lang_form:LANGUAGE_CODE as summary_form %}{{ summary_form.summary.value|new_or_none:""|safe }}{% endwith %}</span>
                        <a href="#" data-toggle="modal" data-target="#summary_modal" aria-hidden="true"><span class="glyphicon glyphicon-pencil edit_icon" aria-hidden="true"></span></a>
                    </p>
                    <div id="related_objects_summary" class="alert alert-warning" role="alert" style="display: none;">
                    <button type="button" class="close" onclick="$('#related_objects_summary').hide(1000)"><span aria-hidden="true">&times;</span></button>
                </div>
                <div id="language_error_summary" class="alert alert-warning text-center" role="alert" style="display: none;">
                    <button type="button" class="close" onclick="$('#language_error_summary').hide(1000)"><span aria-hidden="true">&times;</span></button><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {% trans "It seems that the inserted text is not in the correct language" %}
                </div>     
                    <div class="modal fade" id="summary_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-summary" id="myModalLabel">{% trans "Edit summary" %}</h4>
                          </div>
                          <div class="modal-body">
                            <div class="form-group">
                              <div class="alert alert-warning text-center" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> <span>{% trans "The chosen language by default in the edit fields is " %}<strong><em>{{ LANGUAGE_CODE |upper }}</em></strong></span></div> 
                              
                              <div class="col-md-12">                
                                <div>
                                    <div class="panel with-nav-tabs panel-primary">
                                        <div class="panel-heading">
                                                <ul class="nav nav-tabs">
                                                    {% for lang in LANGUAGES|sort_by_default_language:LANGUAGE_CODE %}
                                                        {% if forloop.counter == 1 %}
                                                            <li class="active">
                                                        {% else %}
                                                            <li>
                                                        {% endif %}
                                                        <a href="#tab{{ forloop.counter }}summary" data-toggle="tab">{{ lang.0|upper }}</a></li>
                                                        
                                                    {% endfor %}
                                                    <button onclick="automatic_translation('#summary_div');return false;" type="submit" name ="translation_button" class="btn btn-primary btn-lg right-floated">{% trans "Translate text" %}</button>
                                                </ul>
                                        </div>
                                        <div class="panel-body">
                                            <div class="tab-content" id="summary_div">
                                                {% for lang in LANGUAGES|sort_by_default_language:LANGUAGE_CODE %}
                                                    {% with summary_dict|get_lang_form:lang.0 as summary_form %}
                                                        <div class="tab-pane fade in {% if forloop.counter == 1 %}active{% endif %}" id="tab{{ forloop.counter }}summary">{{ summary_form.summary }}{{ summary_form.summary.errors }}</div>
                                                    {% endwith %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                            <button type="button" id="close_summary" onclick="close_proposal_summary('{{ LANGUAGE_CODE }}');" class="btn btn-primary">{% trans "Save changes" %}</button>
                          </div>
                        </div>
                      </div>
                    </div>
                

                <hr>
                
                <p class="lead">{% trans "Necessity" %}</p>
                <p><span id="id_necessity">{% with necessity_dict|get_lang_form:LANGUAGE_CODE as necessity_form %}{{ necessity_form.necessity.value|new_or_none:""|safe }}{% endwith %}</span>
                        <a href="#" data-toggle="modal" data-target="#necessity_modal" aria-hidden="true"><span class="glyphicon glyphicon-pencil edit_icon" aria-hidden="true"></span></a>
                    </p>
                    <div id="related_objects_necessity" class="alert alert-warning" role="alert" style="display: none;">
                    <button type="button" class="close" onclick="$('#related_objects_necessity').hide(1000)"><span aria-hidden="true">&times;</span></button>
                </div>
              <div id="language_error_necessity" class="alert alert-warning text-center" role="alert" style="display: none;">
                    <button type="button" class="close" onclick="$('#language_error_necessity').hide(1000)"><span aria-hidden="true">&times;</span></button><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {% trans "It seems that the inserted text is not in the correct language" %}
             </div>      
                    <div class="modal fade" id="necessity_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-necessity" id="myModalLabel">{% trans "Edit necessity" %}</h4>
                          </div>
                          <div class="modal-body">
                            <div class="form-group">
                              <div class="alert alert-warning text-center" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> <span>{% trans "The chosen language by default in the edit fields is " %}<strong><em>{{ LANGUAGE_CODE |upper }}</em></strong></span></div> 
                              
                              <div class="col-md-12">                
                                <div>
                                    <div class="panel with-nav-tabs panel-primary">
                                        <div class="panel-heading">
                                                <ul class="nav nav-tabs">
                                                    {% for lang in LANGUAGES|sort_by_default_language:LANGUAGE_CODE %}
                                                        {% if forloop.counter == 1 %}
                                                            <li class="active">
                                                        {% else %}
                                                            <li>
                                                        {% endif %}
                                                        <a href="#tab{{ forloop.counter }}necessity" data-toggle="tab">{{ lang.0|upper }}</a></li>
                                                        
                                                    {% endfor %}
                                                    <button onclick="automatic_translation('#necessity_div');return false;" type="submit" name ="translation_button" class="btn btn-primary btn-lg right-floated">{% trans "Translate text" %}</button>
                                                </ul>
                                        </div>
                                        <div class="panel-body">
                                            <div class="tab-content" id="necessity_div">
                                                {% for lang in LANGUAGES|sort_by_default_language:LANGUAGE_CODE %}
                                                    {% with necessity_dict|get_lang_form:lang.0 as necessity_form %}
                                                        <div class="tab-pane fade in {% if forloop.counter == 1 %}active{% endif %}" id="tab{{ forloop.counter }}necessity">{{ necessity_form.necessity }}{{ necessity_form.necessity.errors }}</div>
                                                    {% endwith %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                            <button type="button" id="close_necessity" onclick="close_proposal_necessity('{{ LANGUAGE_CODE }}');" class="btn btn-primary">{% trans "Save changes" %}</button>
                          </div>
                        </div>
                      </div>
                    </div>
                
                
                <hr>
                
                <p class="lead">{% trans "Recipient" %}</p>
                <p><span id="id_recipient">{% with recipient_dict|get_lang_form:LANGUAGE_CODE as recipient_form %}{{ recipient_form.recipient.value|new_or_none:""|safe }}{% endwith %}</span>
                        <a href="#" data-toggle="modal" data-target="#recipient_modal" aria-hidden="true"><span class="glyphicon glyphicon-pencil edit_icon" aria-hidden="true"></span></a>
                </p>              
                <div id="related_objects_recipient" class="alert alert-warning" role="alert" style="display: none;">
                    <button type="button" class="close" onclick="$('#related_objects_recipient').hide(1000)"><span aria-hidden="true">&times;</span></button>
                </div>
              
              <div id="language_error_recipient" class="alert alert-warning text-center" role="alert" style="display: none;">
                    <button type="button" class="close" onclick="$('#language_error_recipient').hide(1000)"><span aria-hidden="true">&times;</span></button><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {% trans "It seems that the inserted text is not in the correct language" %}
                </div>    
                    <div class="modal fade" id="recipient_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-recipient" id="myModalLabel">{% trans "Edit recipient" %}</h4>
                          </div>
                          <div class="modal-body">
                            <div class="form-group">
                              <div class="alert alert-warning text-center" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> <span>{% trans "The chosen language by default in the edit fields is " %}<strong><em>{{ LANGUAGE_CODE |upper }}</em></strong></span></div> 
                              
                              <div class="col-md-12">                
                                <div>
                                    <div class="panel with-nav-tabs panel-primary">
                                        <div class="panel-heading">
                                                <ul class="nav nav-tabs">
                                                    {% for lang in LANGUAGES|sort_by_default_language:LANGUAGE_CODE %}
                                                        {% if forloop.counter == 1 %}
                                                            <li class="active">
                                                        {% else %}
                                                            <li>
                                                        {% endif %}
                                                        <a href="#tab{{ forloop.counter }}recipient" data-toggle="tab">{{ lang.0|upper }}</a></li>
                                                        
                                                    {% endfor %}
                                                    <button onclick="automatic_translation('#recipient_div');return false;" type="submit" name ="translation_button" class="btn btn-primary btn-lg right-floated">{% trans "Translate text" %}</button>
                                                </ul>
                                        </div>
                                        <div class="panel-body">
                                            <div class="tab-content" id="recipient_div">
                                                {% for lang in LANGUAGES|sort_by_default_language:LANGUAGE_CODE %}
                                                    {% with recipient_dict|get_lang_form:lang.0 as recipient_form %}
                                                        <div class="tab-pane fade in {% if forloop.counter == 1 %}active{% endif %}" id="tab{{ forloop.counter }}recipient">{{ recipient_form.recipient }}{{ recipient_form.recipient.errors }}</div>
                                                    {% endwith %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                            <button type="button" id="close_recipient" onclick="close_proposal_recipient('{{ LANGUAGE_CODE }}');" class="btn btn-primary">{% trans "Save changes" %}</button>
                          </div>
                        </div>
                      </div>
                    </div>
                

                <hr>

                <p class="lead">{% trans "Where" %}</p>
                <p><span id="id_where">{% with where_dict|get_lang_form:LANGUAGE_CODE as where_form %}{{ where_form.where.value|new_or_none:""|safe }}{% endwith %}</span>
                        <a href="#" data-toggle="modal" data-target="#where_modal" aria-hidden="true"><span class="glyphicon glyphicon-pencil edit_icon" aria-hidden="true"></span></a>
                </p>  
                <div id="related_objects_where" class="alert alert-warning" role="alert" style="display: none;">
                    <button type="button" class="close" onclick="$('#related_objects_where').hide(1000)"><span aria-hidden="true">&times;</span></button>
                </div>
                <div id="language_error_where" class="alert alert-warning text-center" role="alert" style="display: none;">
                    <button type="button" class="close" onclick="$('#language_error_where').hide(1000)"><span aria-hidden="true">&times;</span></button><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {% trans "It seems that the inserted text is not in the correct language" %}
                </div>                  
                
                    <div class="modal fade" id="where_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-where" id="myModalLabel">{% trans "Edit where" %}</h4>
                          </div>
                          <div class="modal-body">
                            <div class="form-group">
                              <div class="alert alert-warning text-center" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> <span>{% trans "The chosen language by default in the edit fields is " %}<strong><em>{{ LANGUAGE_CODE |upper }}</em></strong></span></div> 
                              
                              <div class="col-md-12">                
                                <div>
                                    <div class="panel with-nav-tabs panel-primary">
                                        <div class="panel-heading">
                                                <ul class="nav nav-tabs">
                                                    {% for lang in LANGUAGES|sort_by_default_language:LANGUAGE_CODE %}
                                                        {% if forloop.counter == 1 %}
                                                            <li class="active">
                                                        {% else %}
                                                            <li>
                                                        {% endif %}
                                                        <a href="#tab{{ forloop.counter }}where" data-toggle="tab">{{ lang.0|upper }}</a></li>
                                                        
                                                    {% endfor %}
                                                    <button onclick="automatic_translation('#where_div');return false;" type="submit" name ="translation_button" class="btn btn-primary btn-lg right-floated">{% trans "Translate text" %}</button>
                                                </ul>
                                        </div>
                                        <div class="panel-body">
                                            <div class="tab-content" id="where_div">
                                                {% for lang in LANGUAGES|sort_by_default_language:LANGUAGE_CODE %}
                                                    {% with where_dict|get_lang_form:lang.0 as where_form %}
                                                        <div class="tab-pane fade in {% if forloop.counter == 1 %}active{% endif %}" id="tab{{ forloop.counter }}where">{{ where_form.where }}{{ where_form.where.errors }}</div>
                                                    {% endwith %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                            <button type="button" id="close_where" onclick="close_proposal_where('{{ LANGUAGE_CODE }}');" class="btn btn-primary">{% trans "Save changes" %}</button>
                          </div>
                        </div>
                      </div>
                    </div>
               

                <hr>
                
            <p class="lead">{% trans "Source" %}</p>
                <p><span id="id_source">{% with source_dict|get_lang_form:LANGUAGE_CODE as source_form %}{{ source_form.source.value|new_or_none:""|safe }}{% endwith %}</span>
                        <a href="#" data-toggle="modal" data-target="#source_modal" aria-hidden="true"><span class="glyphicon glyphicon-pencil edit_icon" aria-hidden="true"></span></a>
                </p>  
                <div id="related_objects_source" class="alert alert-warning" role="alert" style="display: none;">
                    <button type="button" class="close" onclick="$('#related_objects_source').hide(1000)"><span aria-hidden="true">&times;</span></button>
                </div>
                <div id="language_error_source" class="alert alert-warning text-center" role="alert" style="display: none;">
                    <button type="button" class="close" onclick="$('#language_error_source').hide(1000)"><span aria-hidden="true">&times;</span></button><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {% trans "It seems that the inserted text is not in the correct language" %}
                </div>                  
                
                    <div class="modal fade" id="source_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-source" id="myModalLabel">{% trans "Edit source" %}</h4>
                          </div>
                          <div class="modal-body">
                            <div class="form-group">
                              <div class="alert alert-warning text-center" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> <span>{% trans "The chosen language by default in the edit fields is " %}<strong><em>{{ LANGUAGE_CODE |upper }}</em></strong></span></div> 
                              
                              <div class="col-md-12">                
                                <div>
                                    <div class="panel with-nav-tabs panel-primary">
                                        <div class="panel-heading">
                                                <ul class="nav nav-tabs">
                                                    {% for lang in LANGUAGES|sort_by_default_language:LANGUAGE_CODE %}
                                                        {% if forloop.counter == 1 %}
                                                            <li class="active">
                                                        {% else %}
                                                            <li>
                                                        {% endif %}
                                                        <a href="#tab{{ forloop.counter }}source" data-toggle="tab">{{ lang.0|upper }}</a></li>
                                                        
                                                    {% endfor %}
                                                    <button onclick="automatic_translation('#source_div');return false;" type="submit" name ="translation_button" class="btn btn-primary btn-lg right-floated">{% trans "Translate text" %}</button>
                                                </ul>
                                        </div>
                                        <div class="panel-body">
                                            <div class="tab-content" id="source_div">
                                                {% for lang in LANGUAGES|sort_by_default_language:LANGUAGE_CODE %}
                                                    {% with source_dict|get_lang_form:lang.0 as source_form %}
                                                        <div class="tab-pane fade in {% if forloop.counter == 1 %}active{% endif %}" id="tab{{ forloop.counter }}source">{{ source_form.source }}{{ source_form.source.errors }}</div>
                                                    {% endwith %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                            <button type="button" id="close_source" onclick="close_proposal_source('{{ LANGUAGE_CODE }}');" class="btn btn-primary">{% trans "Save changes" %}</button>
                          </div>
                        </div>
                      </div>
                    </div>

            <hr>

            <p class="lead">{% trans "Explanation" %}</p>
                <p><span id="id_explanation">{% with explanation_dict|get_lang_form:LANGUAGE_CODE as explanation_form %}{{ explanation_form.explanation.value|new_or_none:""|safe }}{% endwith %}</span>
                        <a href="#" data-toggle="modal" data-target="#explanation_modal" aria-hidden="true"><span class="glyphicon glyphicon-pencil edit_icon" aria-hidden="true"></span></a>
                </p>  
                <div id="related_objects_explanation" class="alert alert-warning" role="alert" style="display: none;">
                    <button type="button" class="close" onclick="$('#related_objects_explanation').hide(1000)"><span aria-hidden="true">&times;</span></button>
                </div>
                <div id="language_error_explanation" class="alert alert-warning text-center" role="alert" style="display: none;">
                    <button type="button" class="close" onclick="$('#language_error_explanation').hide(1000)"><span aria-hidden="true">&times;</span></button><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {% trans "It seems that the inserted text is not in the correct language" %}
                </div>                  
                
                    <div class="modal fade" id="explanation_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-explanation" id="myModalLabel">{% trans "Edit explanation" %}</h4>
                          </div>
                          <div class="modal-body">
                            <div class="form-group">
                              <div class="alert alert-warning text-center" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> <span>{% trans "The chosen language by default in the edit fields is " %}<strong><em>{{ LANGUAGE_CODE |upper }}</em></strong></span></div> 
                              
                              <div class="col-md-12">                
                                <div>
                                    <div class="panel with-nav-tabs panel-primary">
                                        <div class="panel-heading">
                                                <ul class="nav nav-tabs">
                                                    {% for lang in LANGUAGES|sort_by_default_language:LANGUAGE_CODE %}
                                                        {% if forloop.counter == 1 %}
                                                            <li class="active">
                                                        {% else %}
                                                            <li>
                                                        {% endif %}
                                                        <a href="#tab{{ forloop.counter }}explanation" data-toggle="tab">{{ lang.0|upper }}</a></li>
                                                        
                                                    {% endfor %}
                                                    <button onclick="automatic_translation('#explanation_div');return false;" type="submit" name ="translation_button" class="btn btn-primary btn-lg right-floated">{% trans "Translate text" %}</button>
                                                </ul>
                                        </div>
                                        <div class="panel-body">
                                            <div class="tab-content" id="explanation_div">
                                                {% for lang in LANGUAGES|sort_by_default_language:LANGUAGE_CODE %}
                                                    {% with explanation_dict|get_lang_form:lang.0 as explanation_form %}
                                                        <div class="tab-pane fade in {% if forloop.counter == 1 %}active{% endif %}" id="tab{{ forloop.counter }}explanation">{{ explanation_form.explanation }}{{ explanation_form.explanation.errors }}</div>
                                                    {% endwith %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                            <button type="button" id="close_explanation" onclick="close_proposal_explanation('{{ LANGUAGE_CODE }}');" class="btn btn-primary">{% trans "Save changes" %}</button>
                          </div>
                        </div>
                      </div>
                    </div>
               

                <hr>

            {% leaflet_map "map" callback="load_map" %}
            {{ coordinates_form }}

            
            
            
            
            </div>
            
            
            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Side Widget Well -->
                
                
                <div class="well {% if new_accepted_proposal_form.area.errors %}alert-danger{% endif %}">
                    <h4>{% trans "Area" %} *
                        
                            <a href="#" data-toggle="modal" data-target="#area_modal" aria-hidden="true"><span class="glyphicon glyphicon-pencil edit_icon" aria-hidden="true"></span></a>
                        
                    </h4>
                    <p id="id_area_p" class="list-group-item-text">
                     {% for area in new_accepted_proposal_form.area.value %}
                        <span class="label label-info">{{ area|get_area_name }}</span>
                     {% endfor %}
                    </p>
                </div>
                
                
                    <div class="modal fade" id="area_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-area" id="myModalLabel">{% trans "Edit area" %}</h4>
                          </div>
                          <div class="modal-body">
                            <div class="form-group">
                              
                              <div class="col-md-12">              
                                {{ new_accepted_proposal_form.area }}
                                {{ new_accepted_proposal_form.area.errors }}
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                            <button type="button" onclick="close_proposal_area();" class="btn btn-primary">{% trans "Save changes" %}</button>
                          </div>
                        </div>
                      </div>
                    </div>
               
                
                <div class="well {% if new_accepted_proposal_form.cost.errors %}alert-danger{% endif %}">
                    <h4>{% trans "Cost" %} *
                        
                            <a href="#" data-toggle="modal" data-target="#cost_modal" aria-hidden="true"><span class="glyphicon glyphicon-pencil edit_icon" aria-hidden="true"></span></a>
                        
                    </h4>
                    <p id="id_cost_p">{{ new_accepted_proposal_form.cost.value|new_or_none:"" }}</p>
                </div>
                
                
                    <div class="modal fade" id="cost_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-cost" id="myModalLabel">{% trans "Edit cost" %}</h4>
                          </div>
                          <div class="modal-body">
                            <div class="form-group">
                              
                              <div class="col-md-12">              
                                {{ new_accepted_proposal_form.cost }}
                                {{ new_accepted_proposal_form.cost.errors }}
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                            <button type="button" onclick="close_proposal_cost();" class="btn btn-primary">{% trans "Save changes" %}</button>
                          </div>
                        </div>
                      </div>
                    </div>
               
                
                
                <div class="well {% if new_accepted_proposal_form.recipient_number.errors %}alert-danger{% endif %}">
                    <h4>{% trans "Recipient number" %} *
                       
                            <a href="#" data-toggle="modal" data-target="#recipient_number_modal" aria-hidden="true"><span class="glyphicon glyphicon-pencil edit_icon" aria-hidden="true"></span></a>
                        
                    </h4>
                    <p id="id_recipient_number_p">{{ new_accepted_proposal_form.recipient_number.value|new_or_none:"" }}</p>
                </div>
               
                    <div class="modal fade" id="recipient_number_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-recipient_number" id="myModalLabel">{% trans "Edit recipient number" %}</h4>
                          </div>
                          <div class="modal-body">
                            <div class="form-group">
                              
                              <div class="col-md-12">              
                                {{ new_accepted_proposal_form.recipient_number }}
                                {{ new_accepted_proposal_form.recipient_number.errors }}
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                            <button type="button" onclick="close_proposal_recipient_number();" class="btn btn-primary">{% trans "Save changes" %}</button>
                          </div>
                        </div>
                      </div>
                    </div>
                
                <div class="well {% if new_accepted_proposal_form.proposal.errors %}alert-danger{% endif %}">
                    <h4>{% trans "Proposal" %} *
                       
                            <a href="#" data-toggle="modal" data-target="#proposal_modal" aria-hidden="true"><span class="glyphicon glyphicon-pencil edit_icon" aria-hidden="true"></span></a>
                        
                    </h4>
                    <p id="id_proposal_p">{{ new_accepted_proposal_form.proposal.value|new_or_none:"" }}</p>
                </div>
               
                    <div class="modal fade" id="proposal_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-proposal" id="myModalLabel">{% trans "Edit recipient number" %}</h4>
                          </div>
                          <div class="modal-body">
                            <div class="form-group">
                              
                              <div class="col-md-12">              
                                {{ new_accepted_proposal_form.proposal }}
                                {{ new_accepted_proposal_form.proposal.errors }}
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                            <button type="button" onclick="close_proposal_proposal();" class="btn btn-primary">{% trans "Save changes" %}</button>
                          </div>
                        </div>
                      </div>
                    </div>
                
                <div class="well {% if new_accepted_proposal_form.state.errors %}alert-danger{% endif %}">
                    <h4>{% trans "State" %} *
                       
                            <a href="#" data-toggle="modal" data-target="#state_modal" aria-hidden="true"><span class="glyphicon glyphicon-pencil edit_icon" aria-hidden="true"></span></a>
                        
                    </h4>
                    <p id="id_state_p">{{ new_accepted_proposal_form.state.value|new_or_none:"" }}</p>
                </div>
               
                    <div class="modal fade" id="state_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-state" id="myModalLabel">{% trans "Edit recipient number" %}</h4>
                          </div>
                          <div class="modal-body">
                            <div class="form-group">
                              
                              <div class="col-md-12">              
                                {{ new_accepted_proposal_form.state }}
                                {{ new_accepted_proposal_form.state.errors }}
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                            <button type="button" onclick="close_proposal_state();" class="btn btn-primary">{% trans "Save changes" %}</button>
                          </div>
                        </div>
                      </div>
                    </div>
        
        
                <div class="well">
                    <h4>{% trans "Attached documents" %}
                            <a href="#" data-toggle="modal" data-target="#attached_documents_modal" aria-hidden="true"><span class="glyphicon glyphicon-pencil edit_icon" aria-hidden="true"></span></a>
                        </h4>
                    
                </div>
                
                    <div class="modal fade" id="attached_documents_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                        
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-attached_documents" id="myModalLabel">{% trans "Edit attached documents" %}</h4>
                          </div>
                          <div class="modal-body">
                            <div class="form-group">
                              
                              <div class="col-md-12">
                                <div class='table'>
                                    <div class='no_error'>  
                                            {{ upload_forms.management_form }}
                                            {% for upload_form in upload_forms.forms %}
                                                        <p class="upload_p">
                                                            {% if upload_form.id.value %}
                                                                <a href="{{ STATIC_URL }}{{ MEDIA_URL }}{{ upload_form.name.value }}">{{ upload_form.name.value|safe }}</a><span class="hidden">{{ upload_form.file }}{{ upload_form.name }}</span>{{ upload_form.id }}
                                                            {% else %}
                                                                {{ upload_form.file }}<span class="hidden">{{ upload_form.name }}</span>{{ upload_form.id }}
                                                            {% endif %}
                                                        </p>
                                                    
                                            {% endfor %}
                                    </div>
                                </div>
                              </div>
                           </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                            <button type="button" onclick="close_proposal_attached_documents();" name="attached_documents_button" class="btn btn-primary">{% trans "Save changes" %}</button>
                          </div>
                          
                        </div>
                      </div>
                      </div>
               
           
            
        </div>
         <div class="form-group">
              <div class="col-md-12 text-right">
                <div id="dialog-confirm"></div>
                <button type="submit" onclick="get_coordinates();return validate_language('{% trans 'It seems that the language is not correct in some inputs, do you want to continue?' %}');" name ="new_accepted_proposal_button" id="id_new_accepted_proposal_button" class="btn btn-primary btn-lg">{% trans "Create" %}</button>
              </div>
            </div>
    </form>        
</div>
{% endblock %}
{% block additional_scripts2 %}
<script src="{{ STATIC_URL }}js/jquery.formset.js"></script>
<script src="{{ STATIC_URL }}js/translations.js"></script>
<script src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    var opentrad_code = {{ opentrad_code | js }};
    var at_language_priority = {{ at_language_priority | js }};
    var accepted_image_formats = Array();
    {% for format in accepted_image_formats %}
        accepted_image_formats.push("{{ format }}");
    {% endfor %}
    
    var layer_array = Array();
    function load_map(map, options){
                    
        map.on('click', function(e) {var marker = L.marker(e.latlng, { title: "Resource Location",alt: "Resource Location",riseOnHover: true,draggable: true}).on("click",function(e) {map.removeLayer(this);layer_array=jQuery.grep(layer_array, function(value) {return $(value).not([e.latlng.lat,e.latlng.lng]).length === 0 && $([e.latlng.lat,e.latlng.lng]).not(value).length === 0});}).addTo(map);layer_array.push([e.latlng.lat,e.latlng.lng]);});

        }


</script>
{% endblock %}
